.nav{font-size:xx-large;font-weight: 700; background-color: rgb(43, 243, 243);
}
.nav li{margin: 2vw;}
.search{font-size: x-large;font-weight: 600;
    background-color: rgb(231, 231, 234);
    border-radius:5px;border: 2px solid black;
}

body{background:linear-gradient(rgb(255, 255, 255),rgb(0, 0, 0))}

.text h1{color: rgb(184, 62, 255);font-size: 3vw;
font-weight: 1200; background-color: black; opacity: .6;
padding: 1vw;
}

.cards{padding: 2vw;}

.help{background: linear-gradient(to right, rgb(228, 224, 202),rgb(177, 165, 165),rgb(152, 0, 222));
margin: 2vw;padding: 2vw;}

.mb-3{border: 1px solid black ;padding:1vw;
margin: .5vw; font-size: x-large; font-weight: 600;}

.comments input{font-size: x-large;font-weight: 600;width: 55vw;
    justify-content: center;text-align: center;
height: 10vw;}

.mental{font-weight: 800;text-align: center;}

.studymaterial{ text-align: center;color: rgb(167, 25, 255);font-weight: 900;
font-size: 5vw;background: linear-gradient(black,brown); border: 3px solid rgb(232, 3, 3) ;
}

.study {margin: 6vw;padding: 6vw;background:linear-gradient(rgb(184, 184, 184),pink,rgb(188, 186, 189));
    border: 6px solid rgb(183, 0, 255) ;}

.study li{font-weight: 600; font-size: x-large;}

.study button{margin: 2vw;display: flex;
    justify-content: center;background-color: rgb(166, 0, 255);border: solid black;border-radius: 5%;
 font-weight: 600; font-style: oblique;}

.pyq{color: white;text-align: center;position: sticky;top: 0;
font-weight: 800; font-size: 3vw;}
.decode{color: black;}
.samplepaper{color: rgb(226, 43, 43); font-style: oblique;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

.virtual{text-align: center;font-size: xx-large; font-weight: 900;
color: blueviolet;background-color: aqua;}
.figure{font-size: x-large;font-weight: 600; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;background-color: azure;}


.campus{background-color: white;}
.campus h1{font-weight: 800; font-style:inherit;}

.library{font-weight: 500;font-size: larger; font-style: italic;
     background: linear-gradient(white,pink,rgb(101, 239, 179),rgb(0, 255, 234),rgb(254, 210, 129) );
    opacity: 1; margin: 2vw;padding: 2vw;}

    .sports img {
        width: 50vw; /* Adjust width to occupy the column or container */
        height: 30vw; /* Maintain aspect ratio */
        max-width: 500px; /* Set a maximum width for control */
        display: block; /* Eliminate extra spacing caused by inline elements */
         padding: 5vw; /* Center the image within the column */

    }